$primary-background: #484b68;
$secondary-background: #518f81;
$secondary-background2: #5970a3;
$primary-color: #99c6d3;
$secondary-color: #7cbd8e;
$font-color2: #eee4b1bb;
$font-color3: #e3faf2;
$plain: #eee;
$font-mian: #48ac9e;
$btn-back: #fb6c00;
$green: rgba(96, 240, 96, 0.719);

.dash-main {
  width: 100%;
  height: auto;
  // background-color: $primary-background;
  color: $plain;
  width: 1624px;
  height: 1080px;
  left: 296px;
  gap: 0px;
  opacity: 0px;
  
  .top-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h4 {
      color: rgba(0, 0, 0, 1);
      margin-left: 20px;
    }
  }

  .tab-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 40px;
    margin: 10px 10px 20px 30px;

    .tab {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;
      padding: 2px;
      background-color: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 1);
      border-radius: 10px;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.02);
      .img-back {
        width: 101.05px;
        height: 101.05px;
        gap: 0px;
        opacity: 0px;
        border-radius: 50px;
        background-color: rgba(46, 213, 115, 1);
        img {
          width: 40px;
          height: 40px;
          top: 230px;
          left: 407px;
          padding: 5.31px 0px 5.31px 0px;
          gap: 0px;
          opacity: 0px;
        }
      }

      div {
        color: $plain;
        margin: 2px 2px;
      }
      h5 {
        color: rgba(0, 0, 0, 1);
      }

      p {
        color: rgba(0, 0, 0, 1);
        margin: 5px 10px;
        display: flex;
        justify-content: end;
        width: 133px;
        height: 22px;
        top: 287px;
        left: 916px;
        gap: 0px;
        opacity: 0px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.94px;
        text-align: left;
      }
    }
  }
}
