.main {
  display: flex;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  .logo {
    margin-top: 10px;
    margin-left: 10px;
  }
  .logox{
    height: 40px;
    color: red;
  }

  .centered-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px white;
    .login {
      .welcome {
        font-size: 50px;
        p {
          margin-bottom: 1px;
        }
      }
      .text {
        p {
          margin-top: 1px;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      input {
        height: 50px;
        color: rgb(69, 31, 240);
        font-size: large;
        background-color: aliceblue;
        border-left: 1px solid red;
      }
      button {
        border: none;
        background: none;
        color: white;
        cursor: pointer;
      }
      #sub {
        color: rgb(31, 212, 86);
        font-size: large;
        background-color: rgb(51, 101, 145);
        border: none;
        word-spacing: 55px;
        cursor: pointer;
        border-radius: 20px;
      }
      #sub:hover{
        color: white;
        background-color:  rgb(84, 131, 218);
        transition: background-color 1s ease;
        transition: color 1s ease;
      }
    }
  }
}
.right {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image: url('../Assets/Untitled design (1).png');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  .mid {
    height: 60vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(84, 131, 218);
    box-shadow: 2px 0px 10px 2px rgba(226, 216, 75, 0.884);
    background-color: rgb(146, 206, 203);
    position: relative;
    border-radius: 10px;

    .innerRight {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%; // Adjust width as needed

      .peopleImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .innerLeft {
      flex: 1;
      z-index: 1;
    }

    .rightLogo {
      height: 40px;
      width: 40px;
    }

    p {
      font-size: 30px;
      padding: 0px;
      margin-top: 20px;
    }

    .loveLogo {
      height: 20px;
      width: 20px;
      color: red;
    }
    .smalltext {
        margin-top: 120px;
        font-size: large;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding text shadow */
        word-spacing: 5px; /* Adjusting word spacing */
      }
      
    .peopleImg {
      height: 120px;
    }
  }
}
