$primary-color: #c4c4c41a; // Dark teal
$secondary-color: #ffffff; // Light gray
$font-color1: #333; // Dark gray
$font-color2: #666; // Medium gray
$accent-color: #fb6c00; // Orange
$btn-back: #fb6c00; // Orange
$border: #fb6c0033;
.main {
  .left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $font-color1;
      width: 248.5px;
      height: 70.5px;
      top: 103.5px;
      left: 26.5px;
      gap: 0px;
      border: 1px 0px 0px 0px dashed $border;
      opacity: 0px;
      .info {
        display: flex;
        align-items: center;
        flex-direction: column;
        .name {
          font-family: Quicksand;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          text-align: left;
          width: 96px;
          height: 20px;
          top: 123.13px;
          left: 135.02px;
          gap: 0px;
          opacity: 0px;
        }
        .role {
          width: 36px;
          height: 15px;
          top: 144.13px;
          left: 135.02px;
          gap: 0px;
          opacity: 0px;
          font-family: Quicksand;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          text-align: right;
        }
      }

      img {
        margin: 10px;
        width: 50.75px;
        height: 50.75px;
        top: 114.75px;
        left: 70.48px;
        gap: 0px;
        opacity: 0px;
      }
    }

    .logout {
      color: $font-color2;
      position: fixed;
      bottom: 20px;
      left: 80px;
      z-index: 1;
    }

    .menu-list {
      width: 296px;
      margin-top: 12px;
      border-radius: 10px;
      position: fixed;
      z-index: 1;
      left: 10px;
      background: $secondary-color;
      overflow-x: hidden;
      padding: 20px 5px;
      height: 100vh;

      .tabs-list div {
        margin-top: 10px;
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: $font-color2;
        display: block;
        background-color: #fafafa;
        img {
          padding-right: 10px;
        }
      }

      .tabs-list div:hover {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: $secondary-color;
        background-color: $btn-back;
        display: block;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
        img {
          color: white;
          transition: color 0.5s ease-in-out;
        }
      }
    }
  }

  .display {
    display: flex;
    background-color: $secondary-color;
    width: 1624px;
    height: 1080px;
    left: 296px;
    gap: 0px;
    opacity: 0px;
    .tabs {
      width: 100%;
      height: 92vh;
      padding: 10px 10px;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: $primary-color;
    }
  }
}
