$primary-background: #35374b;
$secondary-background: #344955;
$secondary-background2: #a2678a;
$primary-color: #50727b;
$secondary-color: #78a083;
$font-color2: #eee4b1bb;
$font-color3: #7fffd4;

.navbarMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-background;
  height: 50px;

  .navbar-collapse {
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navLinks {
      gap: 9px;
      display: flex;
      flex-direction: row;
      width: 100%; 

      .nav-link {
        color: #b7bdc4;
      }
    }

    .navbar-form {
      // Add any custom styles for the navbar form
      display: flex;
      gap: 5px;
      justify-content: end;
    }

    .form-control {
      // Add any custom styles for the form controls
    }

    .btn {
      margin: 2px 2px;
      // Add any custom styles for buttons
    }
  }

  // Mobile responsiveness
  @media screen and (max-width: 768px) {
    .navbar-collapse {
      flex-direction: column; // Stack items vertically
      align-items: center; // Center items vertically

      .navLinks {
        flex-direction: column; // Stack nav links vertically
        align-items: center; // Center nav links horizontally
      }

      .navbar-form {
        margin-top: 10px; // Add some space between navbar links and form
      }
    }
  }
}
