.graph {
  width: 96%;
  height: 102px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.line {
  fill: none;
  stroke: rgb(255, 102, 0);
  stroke-width: 1.5;
}

/* Optional: Style the SVG */
svg {
  padding-left: 18px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  color: aliceblue;
}
